html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

* {
    font-family: "Montserrat", sans-serif;
    color: black;
   
}

:root {
    --primary-background: 	#F0F0F0;
    --secondary-background: #faf0e6;
    --spacer: 1rem;
	--spacer-triple: calc(var(--spacer) * 3);
    --spacer-half: calc(var(--spacer) / 2);

  
}

nav a:hover {
    font-size: 25px;
}


section {
    max-width: 66rem;
	margin: 0 auto;
	background-color: white;   
}

i {
    padding: 1em;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    background-color: var(--secondary-background);
    line-height: 1.5;
    text-align: center;
    
}

.header__logo {
    font-size: 48px;
    padding-top: var(--spacer);
    

}

.header__logo-description{
    font-size: 28px;
    text-transform: uppercase;
  
}


nav {
    padding: var(--spacer-triple) var(--spacer-triple);
}


.header__contact {
    background-color: var(--primary-background);
    padding: var(--spacer);
}



.menu__list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
    justify-content: center;

}

.menu__item {
	margin: 0;
	padding: 0;
}


.menu__link {
	padding: var(--spacer-half) var(--spacer);
	font-size: 20px;
	text-decoration: none;
	
}

/*
.menu__link:hover {
	background-color: var(--accent);
}

*/

footer {
    background-color: var(--primary-background);
    padding: var(--spacer);
    

}



